<legend>So, that was the end!</legend>
<p>Well, that's all what we had for the quiz. We hope you scored well in the quiz. Your results have been submitted, and you will be notified shortly of your performance!</p>

<% content_for(:title) do %>
  Quiz Finished
<% end %>