<%= form_tag({:controller => "quiz", :action => "start"}) do %>
  <div class="hero-unit">
	<h1>
		Start Quiz
		<small>
			Yes, you got it right!
		</small>
	</h1>
	<br />
	<p>
		After so many steps, so much of wait, and so much of pain, you must be the most excited for the quiz. Well, nothing more for now, go, catch the quiz and score well! We wish you the very best of luck!
	</p>
	<br />
	<center>
	 <%= submit_tag "Start the quiz!", :class => "btn btn-primary btn-large"%>
	</center>
  </div>
<% end %>
<% content_for(:title) do %>
  Start the Quiz - TecH QuiZ 3
<% end %>
